/*INFO:
* Original Code written by Maximillian Ovesen
* Unlicensed
* 2021 - 2021
*/


.video-container {
    position:fixed;
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 250px;
    overflow: hidden;
}
video.background-video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.contentBoxTransparent {
    position: relative;
    z-index: 1;
}

.backPicContainer{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 250px;
    overflow: hidden;
    flex-wrap:wrap;
    
}

.flexContainer{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    flex-wrap:wrap;
    
}

.innerFlexContainer{

    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;

    width: 100%;
    margin: 0px;
    height: 50%;

    -webkit-mask-size: cover;
    -webkit-mask-position: 100%;
    -webkit-mask-repeat: repeat-x;

    mask-size: cover;
    mask-position: 100%;
    mask-repeat: repeat-x;

    /* Center and scale the image nicely */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size:cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.backInnerFlexContainer{

    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;

    width: 100%;
    margin: 0px;
    height: 100%;

    -webkit-mask-size: cover;
    -webkit-mask-position: 100%;
    -webkit-mask-repeat: repeat-x;

    mask-size: cover;
    mask-position: 100%;
    mask-repeat: repeat-x;

    /* Center and scale the image nicely */
    background-position: 20%;
    background-repeat: no-rerepeat;
    background-size: contain;

    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}


.innerFlexContainerHero{
    width: 70%;
}


.flexDirRow{
    flex-direction: row;
}
.flexDirColumn{
    flex-direction: column;
}

.flexCenter{
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    justify-content: center;
}
.flexLeft{
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.flexRight{
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/*____ Content Boxes ____*/
.contentBoxVertical{

    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    transition-duration: 0.2s;

    width: 280px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--lightBackgroundColor);
    box-shadow: -2px 2px 0px var(--accentColor);
}
.contentBoxVertical:hover{
    transition-duration: 0.2s;
    transform: translate3d(0px, -15px, 0px);
}

.contentBoxImage{
    width: 700px;
    align-self: center;
}
.contentBox{

    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 5px;

    width: 50%;

    transition-duration: 0.1s;
    margin: 10px;
    padding: 15px;

    box-shadow: -2px 2px 0px var(--accentColorC);
    background-color: #0000005d;
}

.backgroundBox{

    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 0%;

    width: 100%;

    transition-duration: 0.1s;
    
    padding: 15px;

    box-shadow: -2px 2px 0px var(--accentColorC);
    background-color: #282c7f81;
}

@media(max-width: 1050px)
{
    .contentBox{
        width: 75%;
    }
    .contentBoxImage{
        width: 500px;
    }
}
@media(max-width: 900px)
{
    .contentBox{
        width: 97%;
    }
    .contentBoxImage{
        width: 450px;
    }
}
@media(max-width: 500)
{
    .contentBox{
        width: 97%;
    }
    .contentBoxImage{
        width: 200px;
    }
}
.contentBoxTransparent{
    border-radius: 5px;

    transition-duration: 0.1s;
    margin: 10px;
    padding: 15px;

    box-shadow: -2px 2px 0px var(--accentColorC);
    background-color: #0a0c0ff8;
}
.contentBoxTransparent:hover{
    box-shadow: -3px 3px 0px var(--accentColorN);
    transition-duration: 0.1s;
    background-color: #282c7f81; 
}
.contentBox:hover{
    box-shadow: -3px 3px 0px var(--accentColorN);
    transition-duration: 0.1s;
    background-color: #282c7f81;
}

.applicationBoxSizing {
    height: 420px;
}


@media(max-width: 1300px)
{
    .contentBoxVertical {
        padding-left: 0px;
        padding-right: 0px;
        width: 95%;
    }
    .applicationBoxSizing {
        width: 100%; 
        height: 360px;
    }
    .flexCenter {
        width: 400px
    }
}

@media(max-width: 1300px)
{
    .contentBoxVertical {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}